<%- include('partials/header') %>

    <main>
        <section>
        <h1>Erreur 404 : Page introuvable</h1>
        <p>Il semblerait que cette page ait disparu, comme un expresso bu trop vite...</p>
        <img src="/images/404.webp" alt="café renversé">
        <a id="boutton-marron" href="/">Retour à l'accueil</a>
        </section>
    </main>

<%- include('partials/footer') %>