<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bienvenue chez O'Coffee, une boutique fondée par Jean et Jacques Pepper, deux frères passionnés par le café. Découvrez nos cafés raffinés et inspirants.">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css"/>
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <title>O'Coffee</title>
</head>
<body>
    <header>
        <a class="header-logo" href="/">
            <img src="/images/logo.svg" alt="logo d'O'Coffee">
        </a>
        <a class="name-logo" href="/">O'Coffee</a>
        <div class="menu-burger">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </div>
        <nav class="main-menu">
            <ul>
                <li><a href="/">Accueil</a></li>
                <li><a href="/catalogue">Catalogue</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>