<%- include('partials/header') %>

    <main>
        <section>
        <h1>Erreur 500 : Même nos serveurs ont besoin d'une pause-café.</h1>
        <p>Oups ! On dirait que notre barista virtuel a renversé du café sur le serveur. Nous nettoyons tout ça et revenons très vite !</p>
        <img src="/images/500.webp" alt="café renversé">
        <a id="boutton-marron" href="/">Retour à l'accueil</a>
        </section>
    </main>

<%- include('partials/footer') %>